#nav{
    display: flex;
    background-color: rgb(224, 195, 206);
    border-radius: 10px 30px 10px;
}
#searchs{
    margin-top: 8px;
    height:40px;
    width: 290px;
}
#search{
    margin-top: 10px;
    margin-left: auto;
}
#searchbtn{
    border: 2px cadetblue;
    margin-top: 25px;
     margin-left: 5px;

}
#sbtn{
    height: 30px;
    width: 30px;
    margin-bottom: 5px;
}
#navbooks{
    display: flex;
    margin-bottom: 70px;
    margin-top: 70px;
}
#ul1{
    margin-right: 100px;
    margin-left: 200px;
    
}
#ul1 li{
    border: 5px dotted rgb(209, 217, 225);
    margin-bottom: 5px;
    width: 350px;
    text-align: center;
    background-color: rgb(220, 190, 190);
    border-radius: 15px 1px 15px;
}
#ul2 li{
    border: 5px dotted rgb(209, 217, 225);
    margin-bottom: 5px;
    width: 350px;
    text-align: center;
    background-color: rgb(220, 190, 190);
    border-radius: 1px 15px 1px;
}


body{
    background-color: #fce4ec;
}
#bookbucket{
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    justify-content: flex-start;
}
div{
    margin-bottom: 10px;
}
.card{
    background-color: #d7bbc6;
    border: 10px solid rgb(230, 216, 219);
    box-shadow: 10px 10px 10px;
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    
}
.card img{
    width: 80px;
    height: auto;
    margin-bottom: 10px;
    margin-left: 60px;
    box-shadow: 5px 5px rgb(57, 53, 53);
}
h2{
    text-align: center;
    margin: 50px;
    text-align: center;
    font-family: 'Georgia', serif;
    font-size: 28px;
    color: #5c4400;
    letter-spacing: 1.5px; /* dreamy spacing */
    border-bottom: 1px solid #998e77;
}
#poem{
    text-align: center;
}
P{
    text-align: justify;
    font-size: 18px;
}
.booksdescription{
    margin: 10px;
    padding: 25px;
    background-color: rgb(230, 222, 237);
    border: 10px 5px rgb(198, 198, 225);
    box-shadow: 5px 8px;
}
#cont{
    padding: 50px 150px 150px;
    margin-top: 120px;
    background-color: color-mix(in srgb, rgb(205, 166, 166) 50%, skyblue 10%);
    gap: 2px;
    letter-spacing: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    justify-content: center;
}
#footer{
    margin: 10px;
    padding: 25px;

}
ul{
    list-style: none;
    list-style-image: none;
    gap: 5px;
}
a{
    text-decoration: none;
}
.card_button{
    background-color: rgb(206, 153, 153);
    color: black;
    padding: 10px 20px;
    border-radius:15px ;
}
.card p{
    text-align: center;
}